
          table       {border :none;padding:2px ;border-collapse:collapse ; background: #A1BFA4 }
          table.wb    {border :solid;border-width:1px;border-collapse:collapse	 }
          td          {border: none; font-size:0.8em }
          td.input    {border-width:0px;border: none; padding:2px; border-style:solid;font-family:cursive;font-size:1em ;color: blue; font-style:italic;border-color:black}
          td.inputbsb {border-width:1px; font-family: cursive;color: blue;font-size:0.7em; font-style:italic;border-style: none solid solid solid;border-color:black}
          td.wb       {border-width:1px ; border:solid;border-color:black; padding:2px;font-family: cursive; font-size:1em; color: blue; font-style:italic;}
          td.ul       {border-width:1px;border-style: none none solid none;text-align:center;font-family: cursive}
          td.th       {border:none; font-size:0.8em ;text-align:center ; vertical-align: top}
          td.thwb     {border-width:1px;  border:solid; padding:2px;  font-size:2em }
          td.border   {border-width:1px; border: solid }
 